@page
@using Microsoft.Extensions.Localization
@using OnMonitor.Localization
@model OnMonitor.Web.Pages.OnMonitor.IndexModel
@inject IStringLocalizer<OnMonitorResource> L
@{
}
<h1>OnMonitor</h1>
<p>@L["SamplePageMessage"]</p>
