/*.print_wrap{*/
/*    font-size: 30px;*/
/*    !*letter-spacing:4px;*!*/
/*    line-height: 40px;*/
/*}*/

/*.print_wrap{*/
/*    font-size: 30px;*/
/*    line-height: 60px;*/
/*}*/

table {
    /*border-collapse: collapse;*/
    border-collapse: collapse !important;
    background-color: #fff !important;
    border: 1px solid black !important;
    width: 100%;
    height: auto;
    line-height: 25px;
}

thead td{
    border: 1px solid black !important;
}

tbody td{
    border: 1px solid black !important;
}

.no-print{
    display: none;
}
